.button {
  text-align: center;
  height: 32px;
  line-height: 30px;
  padding: 0 11px;
  box-sizing: border-box;
  border-radius: 6px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-clip: padding-box;
  border: 1px solid var(--figma-color-text);
}
