.reset *,
.reset :before,
.reset :after {
  background-color: initial;
  color: initial;
  border-color: initial;
}

body .reset {
  font-family: initial;
  font-size: initial;
}

.reset svg {
  fill: initial;
}
