@tailwind base;
@tailwind components;
@tailwind utilities;

*,
:before,
:after {
  background-color: inherit;
  color: var(--figma-color-text);
  border-color: var(--figma-color-border);
}

body {
  font-family: Inter, sans-serif;
  font-size: 11px;
}

svg {
  fill: var(--figma-color-icon);
}
