@tailwind base;
@tailwind components;
@tailwind utilities;

*,
:before,
:after {
  background-color: inherit;
  color: var(--figma-color-text);
  border-color: var(--figma-color-border);
}

body {
  font-family: Inter, sans-serif;
  font-size: 11px;
}

svg {
  fill: var(--figma-color-icon);
}

[data-reach-accordion-item][data-state='open'] .plus-icon {
  display: none;
}

[data-reach-accordion-item][data-state='collapsed'] .plus-icon {
  display: block;
}

[data-reach-accordion-item][data-state='open'] .minus-icon {
  display: block;
}

[data-reach-accordion-item][data-state='collapsed'] .minus-icon {
  display: none;
}
