@import "./reset.css";

:root {
  color: var(--figma-color-text);
  font-family: Inter, sans-serif;
  font-size: 11px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 8px 0;
}

.section {
  padding: 0 16px;
}

.section p {
  padding-bottom: 16px;
}

hr {
  border-color: var(--figma-color-border);
}

.heading {
  font-weight: 700;
  height: 32px;
  display: flex;
  align-items: center;
}
