@import "./reset.css";

:root {
  color: var(--figma-color-text);
  font-family: Inter, sans-serif;
  font-size: 11px;
}

.container {
  padding: 16px;
}

.h {
  font-weight: 700;
  height: 32px;
}

.btn {
  text-align: center;
  height: 32px;
  line-height: 30px;
  max-width: 200px;
  padding: 0 11px;
  box-sizing: border-box;
  border-radius: 6px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid var(--figma-color-text);
  background-clip: padding-box;
}
